@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Happy Monkey', cursive;
    box-sizing: border-box;
}

/****************************************************************************************
Header, Main and Footer min-width
****************************************************************************************/

header,
main,
footer {
    /* bad user experience if smaller */
    min-width: 300px;
}

/****************************************************************************************
Animations
****************************************************************************************/

@keyframes title-animation {
    10% {
        color: blue;
    }

    20% {
        color: red;
    }

    30% {
        color: green;
    }

    40% {
        color: tomato;
    }

    50% {
        color: yellowgreen;
    }

    60% {
        color: blue;
    }

    70% {
        color: red;
    }

    80% {
        color: green;
    }

    90% {
        color: tomato;
    }

    100% {
        color: yellowgreen;
    }
}

@keyframes yes-btn-animation {
    0% {
        background-color: blue;
    }

    10% {
        background-color: red;
    }

    20% {
        background-color: green;
    }

    30% {
        background-color: tomato;
    }

    40% {
        background-color: yellowgreen;
    }

    50% {
        background-color: blue;
    }

    60% {
        background-color: red;
    }

    70% {
        background-color: green;
    }

    80% {
        background-color: tomato;
    }

    90% {
        background-color: yellowgreen;
    }
}

/****************************************************************************************
Message to user
****************************************************************************************/

#container-title {
    letter-spacing: 0.5em;
    margin: 1.5rem 0.5rem;
    color: blue;
    text-align: center;
    animation-name: title-animation;
    animation-duration: 2s;
}

/****************************************************************************************
Message to user
****************************************************************************************/

#container-message-to-user {
    background-color: aquamarine;
    border: dotted 0.5em blue;
    border-radius: 2em;
    color: blue;
    margin: 1.5rem 0.5rem;
    padding: 1em;
    text-align: center;
}

/****************************************************************************************
Random Problem
****************************************************************************************/

#container-random-problem {
    background-color: hsl(60, 100%, 50%);
    border: solid 0.5em yellow;
    border-radius: 2em;
    color: blue;
    margin: 1.5rem 0.5rem;
    padding: 1em;
    text-align: center;
    font-size: large;
}

/****************************************************************************************
Buttons
****************************************************************************************/

#container-yes {
    background-image: url('../images/numbers-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-yes {
    animation-name: yes-btn-animation;
    animation-duration: 2s;
}

.btn-area {
    text-align: center;
}

.btn {
    background-color: orange;
    border: none;
    font-weight: bolder;
    border-radius: 50%;
    color: white;
    padding: 0.5rem;
    min-width: 5rem;
    min-height: 5rem;
    font-size: large;
}

.btn:hover {
    color: blue;
}

#btn-lower,
#btn-same,
#btn-higher {
    padding: 0;
    margin: 0 0.5rem;
}

/****************************************************************************************
Round and Score
****************************************************************************************/

#container-round,
#container-score {
    background-color: aquamarine;
    border: dotted 0.5em blue;
    border-radius: 2em;
    color: blue;
    padding: 1em;
    text-align: center;
    min-width: 35%;
    font-size: small;
}

#container-round {
    float: left;
    margin: 1.5rem 0 1.5rem 0.5rem;
}

#container-score {
    float: right;
    margin: 1.5rem 0.5rem 1.5rem 0;
}

/****************************************************************************************
Footer
****************************************************************************************/

footer {
    position: fixed;
    bottom: 1em;
    width: 100%;
    letter-spacing: 0.2em;
    font-size: xx-small;
    text-align: center;
    color: gray;
}

/****************************************************************************************
Rules for screen sizes from 400px width and 600px height and up
****************************************************************************************/

@media screen and (min-width: 400px) and (min-height: 600px) {

    .btn {
        min-width: 6rem;
        min-height: 6rem;
    }

    #btn-lower,
    #btn-same,
    #btn-higher {
        margin: 0 1rem;
    }
}

/****************************************************************************************
Rules for screen sizes from 600px width and 600px height and up
****************************************************************************************/

@media screen and (min-width: 600px) and (min-height: 600px) {

    .btn {
        min-width: 8rem;
        min-height: 8rem;
        font-size: xx-large;
    }

    #btn-lower,
    #btn-same,
    #btn-higher {
        margin: 0 1.5rem;
    }
}

/****************************************************************************************
Rules for screen sizes from 700px width and 700px height and up
****************************************************************************************/

@media screen and (min-width: 700px) and (min-height: 700px) {

    #container-yes {
        height: 350px;
        width: 350px;
    }

    .btn {
        min-width: 9rem;
        min-height: 9rem;
    }

    #container-message-to-user,
    #container-random-problem {
        font-size: x-large;
    }

    #container-round,
    #container-score {
        font-size: large;
    }

}

/****************************************************************************************
Rules for screen sizes from 1200px width and 800px height and up
****************************************************************************************/
@media screen and (min-width: 1200px) and (min-height: 800px) {

    #container-round,
    #container-score {
        position: absolute;
        bottom: 0;
    }

    #container-round {
        left: 0;
    }

    #container-score {
        right: 0;
    }
}

/****************************************************************************************
Rules for screen sizes from 700px width and 800px height and up
****************************************************************************************/
@media screen and (min-width: 700px) and (min-height: 800px) {

    #container-title,
    #container-message-to-user,
    #container-random-problem,
    .btn,
    #container-round,
    #container-score {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/****************************************************************************************
Rules for screen sizes from 1400px width and 900px height and up
****************************************************************************************/
@media screen and (min-width: 1400px) and (min-height: 900px) {

    #container-title {
        letter-spacing: 1em;
        margin: 2.5rem 0.5rem;
    }

    .btn {
        min-width: 11rem;
        min-height: 11rem;
        letter-spacing: 0.2em;
    }

    #container-message-to-user,
    #container-random-problem {
        font-size: xx-large;
        letter-spacing: 0.2em;
        margin: 2.5rem 0.5rem;
    }

    #container-round,
    #container-score {
        font-size: x-large;
        letter-spacing: 0.2em;
    }
}

/****************************************************************************************
Rules for screen 650px height or smaller
****************************************************************************************/

@media screen and (max-height: 650px) {
    footer {
        position: absolute;
        top: 630px;
    }
}