* {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.2rem;
}

#div-container-title {
    color: blue;
    text-align: center;
    height: 2em;
}

#div-container-messages-to-user {
    height: 5em;
}

#div-messages-to-user {
    border: dotted 0.5em blue;
    background-color:aquamarine;
    border-radius: 2em;
    margin: auto;
    padding: 1em;
    text-align:center;
}